////////////////// обнуление стилей //////////////////
*
  margin: 0
  padding: 0
  border: 0

*, *:before, *:after
  box-sizing: border-box

a:focus, a:active
  outline: none

a:focus, a:active
  outline: none

nav, footer, header, aside
  display: block

html, body
  height: 100%
  width: 100%
  font-size: 100%
  line-height: 1
  -ms-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

input, button, textarea
  font-family: inherit

input::-ms-clear
  display: none

button
  cursor: pointer

button::-moz-focus-inner
  padding: 0
  border: 0

a, a:visited, a:hover
  text-decoration: none

ul li
  list-style: none

img
  vertical-align: top

h1, h2, h3, h4, h5, h6
  font-size: inherit
  font-weight: 400

////////////////// общие стили //////////////////

header,
main
  padding: 0 calc(50vw - 720px)

.wrapper
  display: grid
  grid-template-rows: 100px auto 50px
  min-height: 100vh

.header
  background: #343a40
  display: grid
  grid-template-columns: repeat(2, auto)
  justify-content: space-between
  align-content: center


  &__h3
    color: white
    font-size: 2em

  &__button
    padding: .5rem 1rem
    font-size: 1.25rem
    line-height: 1.5
    border-radius: .3rem
    float: right
    height: min-content
    width: min-content

    &:hover
      background: #dcdcdc

    &:focus
      outline: none

.basket-box
  position: relative

.basketList
  position: absolute
  right: 0
  top: 50px
  visibility: hidden
  z-index: 1
  background: #636363
  color: white
  min-width: 300px

  &_visibility
    visibility: visible

  &__product-item
    padding: 15px
    width: 300px
    background: #3f515a
    display: grid
    grid-template-columns: auto 1fr
    position: relative
    margin-bottom: 5px

  &__total
    color: white
    font-weight: bold
    font-size: 1.3em

  &__img
    width: 100px

  &__description
    padding-left: 10px
    display: grid
    color: white

  & p
    display: flex
    justify-content: space-between
    font-size: 1.3em

  & button
    position: absolute
    right: 15px
    bottom: 15px
    padding: 3px

.products
  padding-top: 50px
  display: grid
  grid-template-columns: repeat(auto-fit, 200px)
  grid-template-rows: repeat(8, 280px)


  justify-content: space-around
  max-width: 100%

.product-item
  display: flex
  flex-direction: column
  width: 200px
  margin-bottom: 25px
  position: relative
  transition-timing-function: cubic-bezier(.48, .46, 0, 1.08)
  transition: all 0.2s
  animation: shadow-drop-2-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

  &:hover
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16)
    transform: scale(1.01)

  &__description
    padding: 15px
    display: grid

    & h3
      font-size: 1.2em
      padding: 2px 0 2px 0
      color: black
      font-weight: bold

    & p
      padding: 4px 0
      color: black
      font-weight: bold

  &__button
    padding: .3rem 1rem
    font-size: 1rem
    line-height: 1.5
    border-radius: .3rem
    float: right
    height: min-content
    width: min-content
    white-space: nowrap
    background: #343a40
    font-weight: bold
    color: white

    &:hover
      background: #505a63

    &:focus
      outline: none


